{
	"dir" : {
		"src" : {
			"php"     : "src/php",
			"js"      : "src/js",
			"sass"    : "src/scss",
			"license" : "COPYING.txt"
		},

		"dist" : {
			"dist"         : "dist",
			"plugin"       : "<%= dir.dist.dist %>/save-and-then",
			"js"           : "<%= dir.dist.plugin %>/js",
			"sass"         : "<%= dir.dist.plugin %>/scss",
			"css"          : "<%= dir.dist.plugin %>/css",
			"translations" : "<%= dir.dist.plugin %>/languages"
		}
	}
}