{
	"dir" : {
		"src" : {
			"php"         : "src/php",
			"js"          : "src/js",
			"sass"        : "src/scss",
			"po"          : "src/po",
			"distAssets"  : "src/dist-assets"
		},

		"dist" : {
			"dist"         : "dist",
			"assets"       : "<%= dir.dist.dist %>/assets",
			"plugin"       : "<%= dir.dist.dist %>/improved-save-button",
			"js"           : "<%= dir.dist.plugin %>/js",
			"sass"         : "<%= dir.dist.plugin %>/scss",
			"css"          : "<%= dir.dist.plugin %>/css",
			"languages"    : "<%= dir.dist.plugin %>/languages"
		}
	}
}