{
	"dir" : {
		"src" : {
			"php"         : "src/php",
			"js"          : "src/js",
			"sass"        : "src/scss",
			"po"          : "src/po",
			"distAssets"  : "src/po"
		},

		"dist" : {
			"dist"         : "dist",
			"plugin"       : "<%= dir.dist.dist %>/save-and-then",
			"js"           : "<%= dir.dist.plugin %>/js",
			"sass"         : "<%= dir.dist.plugin %>/scss",
			"css"          : "<%= dir.dist.plugin %>/css",
			"languages"    : "<%= dir.dist.plugin %>/languages"
		}
	}
}